.star-rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

    .star-rating input {
        display: none;
    }

    .star-rating label {
        font-size: 25px;
        color: #ddd;
        cursor: pointer;
    }

    .star-rating input:checked ~ label {
        color: gold;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: gold;
    }
