body {
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-title {
    min-height: 48px; /* giữ cho các tiêu đề cao bằng nhau */
    font-size: 16px;
    margin-bottom: 10px;
}

.card-text {
    font-weight: bold;
    color: #d9534f;
}

/* Thêm style cho link bao bọc để loại bỏ gạch chân */
.product-link {
    text-decoration: none;
    color: inherit;
}
