@model IEnumerable<WebApplication15.Models.DanhMuc>

    <ul class="submenu">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("SanPhamTheoDanhMuc", "Home", new { maDM = item.MaDM })">
                    @item.TenDM
                </a>
            </li>
        }
    </ul>

